<ion-header>
  <ion-navbar>
    <ion-title text-center>home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-thumbnail ion-start>
        <img class="icon" src="../../assets/imgs/user_icon.png" alt="" />
      </ion-thumbnail>
      <ion-list *ngFor="let i of profiledata">
        <ion-item>Họ Và Tên: {{ i.hovaten }}</ion-item>
        <ion-item>MSSV :{{ i.MSSV }}</ion-item>
        <ion-item>Lớp :</ion-item>
        <ion-item>Tình Trạng :</ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <button ion-button full (click)="thongtin()">Thông Tin Cá Nhân</button>
  <ion-list *ngIf="hide">
    <ion-item>Khóa</ion-item>
    <ion-item>Bậc Đào Tạo</ion-item>
    <ion-item>Ngành</ion-item>
    <ion-item>Khoa</ion-item>
  </ion-list>
  <ion-row>
    <ion-col align-self-start>
      <button ion-button shape="round" (click)="ketqua()">
        Kết quả học tập
      </button>
    </ion-col>
    <ion-col align-self-center>
      <button ion-button shape="round">Đổi mật khẩu</button>
    </ion-col>
    <ion-col align-self-end>
      <button ion-button shape="round" (click)="logout()">Đăng xuất</button>
    </ion-col>
  </ion-row>
</ion-content>
